{
    attributes = (
        {columnName = fileName; name = fileName; prototypeName = varchar255; }, 
        {columnName = filePath; name = filePath; prototypeName = varchar255; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = userID; name = userID; prototypeName = id; }
    ); 
    attributesUsedForLocking = (fileName, filePath, id, userID); 
    className = "your.app.model.FileEntry"; 
    classProperties = (fileName, filePath, "owned_by"); 
    externalName = FileEntry; 
    fetchSpecificationDictionary = {}; 
    name = FileEntry; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = UserEntry; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userID; }); 
            name = "owned_by"; 
        }
    ); 
}
