{
    attributes = (
        {columnName = fileName; name = fileName; prototypeName = varchar255; }, 
        {columnName = filePath; name = filePath; prototypeName = varchar255; }, 
        {allowsNull = N; name = id; prototypeName = id; }
    ); 
    attributesUsedForLocking = (fileName, filePath, id); 
    className = "your.app.model.FileEntry"; 
    classProperties = (fileName, filePath); 
    externalName = FileEntry; 
    fetchSpecificationDictionary = {}; 
    name = FileEntry; 
    primaryKeyAttributes = (id); 
}
